<footer>
    <head> 
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-6864478695920356",
            enable_page_level_ads: true
          });
        </script>
    </head>
</footer>
<head> 
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6864478695920356",
        enable_page_level_ads: true
      });
    </script>
</head>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
